[workspace]

[package]
name = "lazybox"
version = "0.1.0"
authors = ["Thomas Koehler <basta.t.k+git@gmail.com>",
           "Romain Vaillant <rph.vaillant@gmail.com>"]

[dependencies]
#lazybox_ecs = { path = "ecs" }
lazybox_graphics = { path = "graphics" }
lazybox_settings = { path = "settings" }
lazybox_inputs = { path = "inputs" }
lazybox_events = { path = "events" }
lazybox_assets = { path = "assets" }
lazybox_frameclock = { path = "frameclock" }
